# L2Metrics

In [1]:
print("hello world")

hello world

In [2]:
import json
import re
import os
import pandas as pd

In [3]:
with open("multi_task_metrics.json") as file:
     data = json.load(file)

In [18]:
with open("multi_task_metrics.json") as file:
     data2 = pd.read_json(file)

In [5]:
for key in data["task_metrics"]:
    print( key)

task1_1
task2_1
task3_1

In [6]:
# print(json.dumps(data,indent=2))
class Stats:
    def __init__(self):
        self.vals = []
        self.valcount = 0
        self.avg = 0
    def add_val(self,val):
        self.vals.append(val)
        self.valcount+=1
        self.avg = sum(self.vals)/self.valcount
    def print_state(self):
        print("vals: ",self.vals)
        print("valcount: ", self.valcount)
        print("avg: ",self.avg)

In [7]:
stats_list={}
for task,body in data["task_metrics"].items():
    for task_2,body_2 in body["backward_transfer_ratio"].items():
        if task_2 not in stats_list:
            stats_list[task_2]=Stats()
        for val in body_2:
            stats_list[task_2].add_val(val)
for task,stats in stats_list.items():
    print(task,)
    stats.print_state()
    print("--------------------------------------------")

task2_1
vals:  [1.0564357621543066, 1.0152121534708918, 1.0001741136956974, 1.2188048731254775, 1.0285665590647524, 1.00007037658636]
valcount:  6
avg:  1.0532106396829144
--------------------------------------------
task3_1
vals:  [1.0487001904871414, 0.996104458008453, 1.0121624691474171, 1.027873521987033, 1.0062319950011445, 1.0027563008509333]
valcount:  6
avg:  1.015638155913687
--------------------------------------------
task1_1
vals:  [1.184544683973009, 1.020127768079356, 1.0018259824264808, 1.0025318034452886, 0.9627955691175522, 0.9768074195978588, 0.9888065182913506]
valcount:  7
avg:  1.0196342492758421
--------------------------------------------

## Query Formatting Ideas

In [8]:
query1 = "term1.term2?.term3.stats"

In [16]:
data2.task_metrics[0]["backward_transfer_ratio"]["task2_1"] = pd.Series(data2.task_metrics[0]["backward_transfer_ratio"]["task2_1"])
data2.task_metrics[0]["backward_transfer_ratio"]["task3_1"] = pd.Series(data2.task_metrics[0]["backward_transfer_ratio"]["task3_1"])
data2.task_metrics[0]["recovery_times"] = pd.Series(data2.task_metrics[0]["recovery_times"])

In [10]:
data2.task_metrics[0]["maintenance_val_mrlep"] = pd.Series(data2.task_metrics[0]["maintenance_val_mrlep"])

In [11]:
d=dict( A = [1,2], B = [1,2,3,4] )
d

{'A': [1, 2], 'B': [1, 2, 3, 4]}

In [12]:
pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in d.items() ]))

     A  B
0  1.0  1
1  2.0  2
2  NaN  3
3  NaN  4

In [13]:
data2.task_metrics[0]

{'perf_recovery': -6.0,
 'perf_maintenance_mrlep': 3.430534017433483,
 'forward_transfer_ratio': {},
 'backward_transfer_ratio': {'task2_1': [1.056435762154306,
   1.015212153470891,
   1.000174113695697],
  'task3_1': [1.048700190487141, 0.996104458008453, 1.012162469147417]},
 'ste_rel_perf': 1.059494770274384,
 'sample_efficiency': 0.909090234414043,
 'recovery_times': [0.0, 18.0, 12.0],
 'maintenance_val_mrlep': 0       [13.025272013865177, 9.914763632726022]
 1      [1.8977564333457622, -0.332981193785855]
 2    [0.17956010335879502, -0.9231738279306111]
 3                           [0.252540960455093]
 dtype: object,
 'min': 0.595362013843691,
 'max': 100.0,
 'num_lx': 400,
 'num_ex': 240}

In [17]:
pd.DataFrame(data2.task_metrics[0])

,perf_recovery,perf_maintenance_mrlep,forward_transfer_ratio,backward_transfer_ratio,ste_rel_perf,sample_efficiency,recovery_times,maintenance_val_mrlep,min,max,num_lx,num_ex
0,-6.0,3.430534,NaN,NaN,1.059495,0.90909,0.0,"[13.025272013865177, 9.914763632726022]",0.595362,100.0,400,240
1,-6.0,3.430534,NaN,NaN,1.059495,0.90909,18.0,"[1.8977564333457622, -0.332981193785855]",0.595362,100.0,400,240
2,-6.0,3.430534,NaN,NaN,1.059495,0.90909,12.0,"[0.17956010335879502, -0.9231738279306111]",0.595362,100.0,400,240
3,-6.0,3.430534,NaN,NaN,1.059495,0.90909,NaN,[0.252540960455093],0.595362,100.0,400,240
task2_1,-6.0,3.430534,NaN,0 1.056436 1 1.015212 2 1.000174 dtyp...,1.059495,0.90909,NaN,NaN,0.595362,100.0,400,240
task3_1,-6.0,3.430534,NaN,0 1.048700 1 0.996104 2 1.012162 dtyp...,1.059495,0.90909,NaN,NaN,0.595362,100.0,400,240

In [31]:
# data2.task_metrics[0]
data3 =pd.DataFrame.from_dict(data2.task_metrics[0] ,orient="index").T
data3 = data3.rename(columns={"perf_recovery":"task_metrics.task1_1.perf_recovery"})
data3

,task_metrics.task1_1.perf_recovery,perf_maintenance_mrlep,forward_transfer_ratio,backward_transfer_ratio,ste_rel_perf,sample_efficiency,recovery_times,maintenance_val_mrlep,min,max,num_lx,num_ex
0,-6,3.43053,{},"{'task2_1': [1.056435762154306, 1.015212153470...",1.05949,0.90909,"[0.0, 18.0, 12.0]","[[13.025272013865177, 9.914763632726022], [1.8...",0.595362,100,400,240

In [39]:
data3.maintenance_val_mrlep.describe()

count                                                     1
unique                                                    1
top       [[13.025272013865177, 9.914763632726022], [1.8...
freq                                                      1
Name: maintenance_val_mrlep, dtype: object

In [38]:
data4 = pd.DataFrame.from_dict(data3.backward_transfer_ratio[0],orient="index").T
data4.describe()

        task2_1   task3_1
count  3.000000  3.000000
mean   1.023941  1.018989
std    0.029129  0.026954
min    1.000174  0.996104
25%    1.007693  1.004133
50%    1.015212  1.012162
75%    1.035824  1.030431
max    1.056436  1.048700

In [26]:
for name in data3.columns:
    print('task_metrics.task1_1.'+name)

task_metrics.task1_1.perf_recovery
task_metrics.task1_1.perf_maintenance_mrlep
task_metrics.task1_1.forward_transfer_ratio
task_metrics.task1_1.backward_transfer_ratio
task_metrics.task1_1.ste_rel_perf
task_metrics.task1_1.sample_efficiency
task_metrics.task1_1.recovery_times
task_metrics.task1_1.maintenance_val_mrlep
task_metrics.task1_1.min
task_metrics.task1_1.max
task_metrics.task1_1.num_lx
task_metrics.task1_1.num_ex