# L2Metrics

In [1]:
print("hello world")

hello world

In [2]:
import json
import re
import os
import pandas as pd

In [3]:
with open("multi_task_metrics.json") as file:
     data = json.load(file)

In [4]:
with open("multi_task_metrics.json") as file:
     data2 = pd.read_json(file)

In [5]:
for key in data["task_metrics"]:
    print( key)

task1_1
task2_1
task3_1

In [6]:
# print(json.dumps(data,indent=2))
class Stats:
    def __init__(self):
        self.vals = []
        self.valcount = 0
        self.avg = 0
    def add_val(self,val):
        self.vals.append(val)
        self.valcount+=1
        self.avg = sum(self.vals)/self.valcount
    def print_state(self):
        print("vals: ",self.vals)
        print("valcount: ", self.valcount)
        print("avg: ",self.avg)

In [7]:
stats_list={}
for task,body in data["task_metrics"].items():
    for task_2,body_2 in body["backward_transfer_ratio"].items():
        if task_2 not in stats_list:
            stats_list[task_2]=Stats()
        for val in body_2:
            stats_list[task_2].add_val(val)
for task,stats in stats_list.items():
    print(task,)
    stats.print_state()
    print("--------------------------------------------")

task2_1
vals:  [1.0564357621543066, 1.0152121534708918, 1.0001741136956974, 1.2188048731254775, 1.0285665590647524, 1.00007037658636]
valcount:  6
avg:  1.0532106396829144
--------------------------------------------
task3_1
vals:  [1.0487001904871414, 0.996104458008453, 1.0121624691474171, 1.027873521987033, 1.0062319950011445, 1.0027563008509333]
valcount:  6
avg:  1.015638155913687
--------------------------------------------
task1_1
vals:  [1.184544683973009, 1.020127768079356, 1.0018259824264808, 1.0025318034452886, 0.9627955691175522, 0.9768074195978588, 0.9888065182913506]
valcount:  7
avg:  1.0196342492758421
--------------------------------------------

## Query Formatting Ideas

In [8]:
query1 = "term1.term2?.term3.stats"

In [9]:
data2.task_metrics[0]["backward_transfer_ratio"]["task2_1"] = pd.Series(data2.task_metrics[0]["backward_transfer_ratio"]["task2_1"])
data2.task_metrics[0]["backward_transfer_ratio"]["task3_1"] = pd.Series(data2.task_metrics[0]["backward_transfer_ratio"]["task3_1"])
data2.task_metrics[0]["recovery_times"] = pd.Series(data2.task_metrics[0]["recovery_times"])

In [10]:
data2.task_metrics[0]["maintenance_val_mrlep"] = pd.Series(data2.task_metrics[0]["maintenance_val_mrlep"])

In [11]:
d=dict( A = [1,2], B = [1,2,3,4] )
d

{'A': [1, 2], 'B': [1, 2, 3, 4]}

In [12]:
pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in d.items() ]))

     A  B
0  1.0  1
1  2.0  2
2  NaN  3
3  NaN  4

In [13]:
data2.task_metrics[0]

{'perf_recovery': -6.0,
 'perf_maintenance_mrlep': 3.430534017433483,
 'forward_transfer_ratio': {},
 'backward_transfer_ratio': {'task2_1': 0    1.056436
  1    1.015212
  2    1.000174
  dtype: float64,
  'task3_1': 0    1.048700
  1    0.996104
  2    1.012162
  dtype: float64},
 'ste_rel_perf': 1.059494770274384,
 'sample_efficiency': 0.909090234414043,
 'recovery_times': 0     0.0
 1    18.0
 2    12.0
 dtype: float64,
 'maintenance_val_mrlep': 0       [13.025272013865177, 9.914763632726022]
 1      [1.8977564333457622, -0.332981193785855]
 2    [0.17956010335879502, -0.9231738279306111]
 3                           [0.252540960455093]
 dtype: object,
 'min': 0.595362013843691,
 'max': 100.0,
 'num_lx': 400,
 'num_ex': 240}

In [14]:
pd.DataFrame(data2.task_metrics[0])

,perf_recovery,perf_maintenance_mrlep,forward_transfer_ratio,backward_transfer_ratio,ste_rel_perf,sample_efficiency,recovery_times,maintenance_val_mrlep,min,max,num_lx,num_ex
0,-6.0,3.430534,NaN,NaN,1.059495,0.90909,0.0,"[13.025272013865177, 9.914763632726022]",0.595362,100.0,400,240
1,-6.0,3.430534,NaN,NaN,1.059495,0.90909,18.0,"[1.8977564333457622, -0.332981193785855]",0.595362,100.0,400,240
2,-6.0,3.430534,NaN,NaN,1.059495,0.90909,12.0,"[0.17956010335879502, -0.9231738279306111]",0.595362,100.0,400,240
3,-6.0,3.430534,NaN,NaN,1.059495,0.90909,NaN,[0.252540960455093],0.595362,100.0,400,240
task2_1,-6.0,3.430534,NaN,0 1.056436 1 1.015212 2 1.000174 dtyp...,1.059495,0.90909,NaN,NaN,0.595362,100.0,400,240
task3_1,-6.0,3.430534,NaN,0 1.048700 1 0.996104 2 1.012162 dtyp...,1.059495,0.90909,NaN,NaN,0.595362,100.0,400,240

In [15]:
# data2.task_metrics[0]
data3 =pd.DataFrame.from_dict(data2.task_metrics[0] ,orient="index").T
data3 = data3.rename(columns={"perf_recovery":"task_metrics.task1_1.perf_recovery"})
data3

,task_metrics.task1_1.perf_recovery,perf_maintenance_mrlep,forward_transfer_ratio,backward_transfer_ratio,ste_rel_perf,sample_efficiency,recovery_times,maintenance_val_mrlep,min,max,num_lx,num_ex
0,-6,3.43053,{},"{'task2_1': [1.056435762154306, 1.015212153470...",1.05949,0.90909,0 0.0 1 18.0 2 12.0 dtype: float64,"0 [13.025272013865177, 9.914763632726022...",0.595362,100,400,240

In [16]:
data3.maintenance_val_mrlep.describe()

count                                                     1
unique                                                    1
top       0       [13.025272013865177, 9.914763632726022...
freq                                                      1
Name: maintenance_val_mrlep, dtype: object

In [17]:
data4 = pd.DataFrame.from_dict(data3.backward_transfer_ratio[0],orient="index").T
data4.describe()

        task2_1   task3_1
count  3.000000  3.000000
mean   1.023941  1.018989
std    0.029129  0.026954
min    1.000174  0.996104
25%    1.007693  1.004133
50%    1.015212  1.012162
75%    1.035824  1.030431
max    1.056436  1.048700

In [18]:
for name in data3.columns:
    print('task_metrics.task1_1.'+name)

task_metrics.task1_1.task_metrics.task1_1.perf_recovery
task_metrics.task1_1.perf_maintenance_mrlep
task_metrics.task1_1.forward_transfer_ratio
task_metrics.task1_1.backward_transfer_ratio
task_metrics.task1_1.ste_rel_perf
task_metrics.task1_1.sample_efficiency
task_metrics.task1_1.recovery_times
task_metrics.task1_1.maintenance_val_mrlep
task_metrics.task1_1.min
task_metrics.task1_1.max
task_metrics.task1_1.num_lx
task_metrics.task1_1.num_ex

In [19]:
# Import module
import pandas as pd
  
# Nested dictionary to convert it into multiindex dataframe
nested_dict = {'India': {'State': ['Maharashtra', 'West Bengal',
                                   'Uttar Pradesh', 'Bihar', 'Karnataka'],
                         'Capital': ['Mumbai', 'Kolkata', 'Lucknow',
                                     'Patna', 'Bengaluru']},
  
               'America': {'State': ['California', 'Florida', 'Georgia',
                                     'Massachusetts', 'New York'],
                           'Capital': ['Sacramento', 'Tallahassee', 'Atlanta',
                                       'Boston', 'Albany']}}
  
reformed_dict = {}
for outerKey, innerDict in nested_dict.items():
    for innerKey, values in innerDict.items():
        reformed_dict[(outerKey, innerKey)] = values
  
# Display multiindex dataframe
multiIndex_df = pd.DataFrame(reformed_dict)
multiIndex_df.America.State

0       California
1          Florida
2          Georgia
3    Massachusetts
4         New York
Name: State, dtype: object

In [20]:
new_dict={}
for k,v in data.items():
    if isinstance(v,dict):
        for k1,v2 in v.items():
            new_dict[("ree",k,k1)]=v2
    else:
        new_dict[("ree",k)]=v

pd.DataFrame(new_dict,).ree.perf_recovery

                         NaN
perf_recovery           -2.0
perf_maintenance_mrlep  -2.0
forward_transfer_ratio  -2.0
backward_transfer_ratio -2.0
ste_rel_perf            -2.0
sample_efficiency       -2.0
recovery_times          -2.0
maintenance_val_mrlep   -2.0
min                     -2.0
max                     -2.0
num_lx                  -2.0
num_ex                  -2.0

In [21]:
def rec_refactor(d,parent="root"):
    new_dict={}
    for k,v in d.items():
        # print(parent,k,v)
        if isinstance(v,dict):
            for k1,v1 in rec_refactor(v,parent=k).items():
                # print(parent,k1,v1)
                if isinstance(k1,tuple):
                    # print("1", type(tuple((parent))),type(k1),tuple([parent])+k1)
                    # print("1",sum((tuple((parent)), k1),()))
                    if isinstance(v1,list):
                        new_dict[tuple([parent])+k1]=pd.Series(v1)
                    else:
                        new_dict[tuple([parent])+k1]=v1
                else:
                    # print("2",(parent,k1))
                    if isinstance(v1,list):
                        new_dict[(parent,k1)]=pd.Series(v1)
                    else:
                        new_dict[(parent,k1)]=v1 
        else:
            # print("3",(parent,k))
            new_dict[(parent,k)]=v
    return new_dict
test = rec_refactor(data)
test

{('root', 'perf_recovery'): -2.0,
 ('root', 'perf_maintenance_mrlep'): 3.855814336,
 ('root', 'forward_transfer_ratio'): 12.7602959694,
 ('root', 'backward_transfer_ratio'): 1.0831924335,
 ('root', 'ste_rel_perf'): 1.1063315766,
 ('root', 'sample_efficiency'): 0.9133716955,
 ('root', 'run_id'): 'multi_task',
 ('root', 'complexity'): '2-intermediate',
 ('root', 'difficulty'): '2-medium',
 ('root', 'scenario_type'): 'custom',
 ('root', 'metrics_column'): 'performance',
 ('root', 'min'): 0.0,
 ('root', 'max'): 100.0,
 ('root', 'num_lx'): 1200,
 ('root', 'num_ex'): 720,
 ('root', 'task_metrics', 'task1_1', 'perf_recovery'): -6.0,
 ('root',
  'task_metrics',
  'task1_1',
  'perf_maintenance_mrlep'): 3.4305340174334833,
 ('root',
  'task_metrics',
  'task1_1',
  'backward_transfer_ratio',
  'task2_1'): 0    1.056436
 1    1.015212
 2    1.000174
 dtype: float64,
 ('root',
  'task_metrics',
  'task1_1',
  'backward_transfer_ratio',
  'task3_1'): 0    1.048700
 1    0.996104
 2    1.012162
 dtype: float64,
 ('root', 'task_metrics', 'task1_1', 'ste_rel_perf'): 1.0594947702743842,
 ('root', 'task_metrics', 'task1_1', 'sample_efficiency'): 0.9090902344140432,
 ('root',
  'task_metrics',
  'task1_1',
  'recovery_times'): 0     0.0
 1    18.0
 2    12.0
 dtype: float64,
 ('root',
  'task_metrics',
  'task1_1',
  'maintenance_val_mrlep'): 0      [13.025272013865177, 9.914763632726022]
 1    [1.8977564333457622, -0.3329811937858551]
 2    [0.1795601033587957, -0.9231738279306114]
 3                          [0.252540960455093]
 dtype: object,
 ('root', 'task_metrics', 'task1_1', 'min'): 0.5953620138436911,
 ('root', 'task_metrics', 'task1_1', 'max'): 100.0,
 ('root', 'task_metrics', 'task1_1', 'num_lx'): 400,
 ('root', 'task_metrics', 'task1_1', 'num_ex'): 240,
 ('root', 'task_metrics', 'task2_1', 'perf_recovery'): -0.0,
 ('root',
  'task_metrics',
  'task2_1',
  'perf_maintenance_mrlep'): 6.090194553614775,
 ('root',
  'task_metrics',
  'task2_1',
  'forward_transfer_ratio',
  'task3_1'): 0    12.760296
 dtype: float64,
 ('root',
  'task_metrics',
  'task2_1',
  'backward_transfer_ratio',
  'task1_1'): 0    1.184545
 1    1.020128
 2    1.001826
 3    1.002532
 dtype: float64,
 ('root',
  'task_metrics',
  'task2_1',
  'backward_transfer_ratio',
  'task3_1'): 0    1.027874
 1    1.006232
 2    1.002756
 dtype: float64,
 ('root', 'task_metrics', 'task2_1', 'ste_rel_perf'): 1.0965322961322805,
 ('root', 'task_metrics', 'task2_1', 'sample_efficiency'): 0.9166527731263069,
 ('root',
  'task_metrics',
  'task2_1',
  'recovery_times'): 0    0.0
 1    0.0
 2    0.0
 dtype: float64,
 ('root',
  'task_metrics',
  'task2_1',
  'maintenance_val_mrlep'): 0        [12.849220574205034, 16.888541605032756]
 1           [2.658065015547308, 4.11396240296574]
 2    [0.007013031174793127, 0.024364692763015228]
 dtype: object,
 ('root', 'task_metrics', 'task2_1', 'min'): 0.0,
 ('root', 'task_metrics', 'task2_1', 'max'): 100.0,
 ('root', 'task_metrics', 'task2_1', 'num_lx'): 400,
 ('root', 'task_metrics', 'task2_1', 'num_ex'): 240,
 ('root', 'task_metrics', 'task3_1', 'perf_recovery'): -0.0,
 ('root',
  'task_metrics',
  'task3_1',
  'perf_maintenance_mrlep'): 2.0467144368394656,
 ('root',
  'task_metrics',
  'task3_1',
  'backward_transfer_ratio',
  'task1_1'): 0    0.962796
 1    0.976807
 2    0.988807
 dtype: float64,
 ('root',
  'task_metrics',
  'task3_1',
  'backward_transfer_ratio',
  'task2_1'): 0    1.218805
 1    1.028567
 2    1.000070
 dtype: float64,
 ('root', 'task_metrics', 'task3_1', 'ste_rel_perf'): 1.1629676633508115,
 ('root', 'task_metrics', 'task3_1', 'sample_efficiency'): 0.9143720788116605,
 ('root',
  'task_metrics',
  'task3_1',
  'recovery_times'): 0    0.0
 1    0.0
 2    0.0
 dtype: float64,
 ('root',
  'task_metrics',
  'task3_1',
  'maintenance_val_mrlep'): 0      [3.7567373067718535, 6.011616932786396]
 1    [-0.3745577007104828, 0.2223165177886699]
 2     [1.1950290435675868, 1.4691445208327707]
 dtype: object,
 ('root', 'task_metrics', 'task3_1', 'min'): 0.0,
 ('root', 'task_metrics', 'task3_1', 'max'): 99.99487366193057,
 ('root', 'task_metrics', 'task3_1', 'num_lx'): 400,
 ('root', 'task_metrics', 'task3_1', 'num_ex'): 240}

In [22]:
pd.DataFrame(test).root.task_metrics.task1_1

  perf_recovery perf_maintenance_mrlep backward_transfer_ratio            \
            NaN                    NaN                 task2_1   task3_1
0          -6.0               3.430534                1.056436  1.048700
1          -6.0               3.430534                1.015212  0.996104
2          -6.0               3.430534                1.000174  1.012162
3          -6.0               3.430534                     NaN       NaN

  ste_rel_perf sample_efficiency recovery_times  \
           NaN               NaN            NaN
0     1.059495           0.90909            0.0
1     1.059495           0.90909           18.0
2     1.059495           0.90909           12.0
3     1.059495           0.90909            NaN

                       maintenance_val_mrlep       min    max num_lx num_ex
                                         NaN       NaN    NaN    NaN    NaN
0    [13.025272013865177, 9.914763632726022]  0.595362  100.0    400    240
1  [1.8977564333457622, -0.3329811937858551]  0.595362  100.0    400    240
2  [0.1795601033587957, -0.9231738279306114]  0.595362  100.0    400    240
3                        [0.252540960455093]  0.595362  100.0    400    240

In [23]:
pd.DataFrame(test).root.task_metrics.task1_1.describe()

      perf_recovery perf_maintenance_mrlep backward_transfer_ratio            \
                NaN                    NaN                 task2_1   task3_1
count           4.0               4.000000                3.000000  3.000000
mean           -6.0               3.430534                1.023941  1.018989
std             0.0               0.000000                0.029129  0.026954
min            -6.0               3.430534                1.000174  0.996104
25%            -6.0               3.430534                1.007693  1.004133
50%            -6.0               3.430534                1.015212  1.012162
75%            -6.0               3.430534                1.035824  1.030431
max            -6.0               3.430534                1.056436  1.048700

      ste_rel_perf sample_efficiency recovery_times       min    max num_lx  \
               NaN               NaN            NaN       NaN    NaN    NaN
count     4.000000           4.00000       3.000000  4.000000    4.0    4.0
mean      1.059495           0.90909      10.000000  0.595362  100.0  400.0
std       0.000000           0.00000       9.165151  0.000000    0.0    0.0
min       1.059495           0.90909       0.000000  0.595362  100.0  400.0
25%       1.059495           0.90909       6.000000  0.595362  100.0  400.0
50%       1.059495           0.90909      12.000000  0.595362  100.0  400.0
75%       1.059495           0.90909      15.000000  0.595362  100.0  400.0
max       1.059495           0.90909      18.000000  0.595362  100.0  400.0

      num_ex
         NaN
count    4.0
mean   240.0
std      0.0
min    240.0
25%    240.0
50%    240.0
75%    240.0
max    240.0

In [27]:
import pandas as pd
import json

with open("sri_normalized_no_outliers.json") as file:
    sri = json.load(file)

def rec_refactor(d,parent="root"):
    new_dict={}
    for k,v in d.items():
        # print(parent,k,v)
        if isinstance(v,dict):
            for k1,v1 in rec_refactor(v,parent=k).items():
                # print(parent,k1,v1)
                if isinstance(k1,tuple):
                    # print("1", type(tuple((parent))),type(k1),tuple([parent])+k1)
                    # print("1",sum((tuple((parent)), k1),()))
                    if isinstance(v1,list):
                        new_dict[tuple([parent])+k1]=pd.Series(v1)
                    else:
                        new_dict[tuple([parent])+k1]=v1
                else:
                    # print("2",(parent,k1))
                    if isinstance(v1,list):
                        new_dict[(parent,k1)]=pd.Series(v1)
                    else:
                        new_dict[(parent,k1)]=v1 
        else:
            # print("3",(parent,k))
            new_dict[(parent,k)]=v
    return new_dict
sri_refactor = [rec_refactor(sri_entry,parent=str(sri_idx)) for sri_idx,sri_entry in enumerate(sri)]
pd.DataFrame(sri_refactor)

ipykernel_launcher:18: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

,"(0, perf_recovery)","(0, perf_maintenance_mrlep)","(0, perf_maintenance_mrtlp)","(0, forward_transfer_ratio)","(0, backward_transfer_ratio)","(0, forward_transfer_contrast)","(0, backward_transfer_contrast)","(0, ste_rel_perf)","(0, sample_efficiency)","(0, run_id)",...,"(143, task_metrics, collectmineralshards_1, sample_efficiency)","(143, task_metrics, collectmineralshards_1, recovery_times)","(143, task_metrics, collectmineralshards_1, maintenance_val_mrlep)","(143, task_metrics, collectmineralshards_1, maintenance_val_mrtlp)","(143, task_metrics, collectmineralshards_1, min)","(143, task_metrics, collectmineralshards_1, max)","(143, task_metrics, collectmineralshards_1, num_lx)","(143, task_metrics, collectmineralshards_1, num_ex)","(143, sg_name)","(143, agent_config)"
0,4.0,-7.837487,-13.122479,1.881715,0.766588,0.305969,-0.16054,0.684449,6.053158,alternating_1620487608-7667787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.523678,"Series([], dtype: float64)","Series([], dtype: float64)","Series([], dtype: float64)",1.796813,13.350598,8320.0,384.0,sri,agent_config